<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>ProjetoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

    <servlet>
        <servlet-name> ProductsServlet </servlet-name>
        <servlet-class>com.pedro.application.servlets.ProductsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> ProductsServlet </servlet-name>
        <url-pattern> /products/* </url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name> ProductServletLativo </servlet-name>
        <servlet-class>com.pedro.application.servlets.LativoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> ProductServletLativo </servlet-name>
        <url-pattern> /lativoAlterar/products/* </url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name> ProductsCreateBatch </servlet-name>
        <servlet-class>com.pedro.application.servlets.ProductsCreateBatch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> ProductsCreateBatch </servlet-name>
        <url-pattern> /products/createBatch </url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name> ProductsEditBatch </servlet-name>
        <servlet-class>com.pedro.application.servlets.ProductsEditBatch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> ProductsEditBatch </servlet-name>
        <url-pattern> /products/editBatch/* </url-pattern>
    </servlet-mapping>

</web-app>