<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>ProjetoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name> ProductsServlet </servlet-name>
    <servlet-class>com.pedro.application.servlets.ProductsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> ProductsServlet </servlet-name>
    <url-pattern> /products </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> ProductServlet </servlet-name>
    <servlet-class>com.pedro.application.servlets.ProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> ProductServlet </servlet-name>
    <url-pattern> /products/* </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> ProductServletLativo </servlet-name>
    <servlet-class>com.pedro.application.servlets.LativoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> ProductServletLativo </servlet-name>
    <url-pattern> /products/lativoAlterar/* </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> ProductsConsultarServletLativo </servlet-name>
    <servlet-class>com.pedro.application.servlets.ProductsConsultarLativoTrue</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> ProductsConsultarServletLativo </servlet-name>
    <url-pattern> /products/lativoTrue </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> ProductsConsultarServletLativoOne </servlet-name>
    <servlet-class>com.pedro.application.servlets.ProductsConsultarLativoTrueOne</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> ProductsConsultarServletLativoOne </servlet-name>
    <url-pattern> /products/lativoTrueOne/* </url-pattern>
  </servlet-mapping>


</web-app>